<form class="ui form signin-form" method="post">
  <div class="fields">
    <div class="field signin-field">
      <label>Email</label>
      <input type="email" placeholder="Email">
    </div>
  </div>
  <div class="fields">
    <div class="field">
    </div>
    <div class="field forgot-btn-field">
      <button class="ui primary button forgot-btn">Send email</button>
    </div>
  </div>
</form>
