<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Instgram clone</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/semantic/semantic.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="ui fixed menu">
    <div class="ui container">
      <div class="inner-container">
        <a href="/" class="header item nav-brand">
          <img class="logo" src="/uploads/website/instagram-logo.png">
          <img class="logo" src="/uploads/website/instagram-text.png" style="
          width: 6em;
          margin-top: 1px;
          ">
        </a>
        {{#if user}}
        <div class="ui simple dropdown nav-profile header item">
          <i class="far fa-user fa-lg"></i><i class="dropdown icon"></i>
          <div class="menu">
            <a class="item nav-dropdown-item" href="/myaccount">My Account</a>
            <a class="item nav-dropdown-item" href="/account/logout">Logout</a>
          </div>
        </div>
        <div class="header item nav-search ">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>


  <div class="ui main container">
    {{#if success_msg}}
    <div class="ui success message">
      <i class="close icon"></i>
      <div class="header">
        {{success_msg}}
      </div>
    </div>
    {{/if}}

    {{#if error_msg}}
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        {{error_msg}}
      </div>
    </div>
    {{/if}}

    {{#if error}}
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        {{error}}
      </div>
    </div>
    {{/if}}


    {{{body}}}
  </div>

  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable  divided grid">
        <div class="eight wide column">
          <h4 class="ui header">Group 1</h4>
          <div class="ui link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="eight wide column">
          <h4 class="ui header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
  </div>




</body>

</html>
